html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.barraPrincipal{
  background: rgb(0, 0, 92);
  width: 100%;
  height: 55px;
  
}
.cp{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 330px;
  top: 5px;
  background-image: url(../app/images/ordenador-portatil.png);
  background-size: cover;
}
header{
  font-family: 'Inria Serif';
font-style: normal;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
}
.leo{
position: absolute;
width: 194px;
height: 44px;
left: 115px;
top: 5px;
font-weight: 400;
font-size: 18px;
}
.des{
position: absolute;
width: 230px;
height: 44px;
left: 100px;
top: 22px;
font-weight: 400;
font-size: 15px;
}
.num{
  position: absolute;
  width: 194px;
  height: 44px;
  left: 780px;
  top: 5px;
  font-weight: 400;
  font-size: 16px;
}
.corr{
  position: absolute;
  width: 194px;
  height: 44px;
  left: 815px;
  top: 25px;
  font-weight: 400;
  font-size: 18px;
}
.telf{
  position: absolute;
  width: 18px;
  height: 18px;
  left: 780px;
  top: 8px;
  background-image: url(../app/images/llamada-telefonica.png);
  background-size: cover;
}
.mail{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 780px;
  top: 31px;
  background-image: url(../app/images/gmail.png);
  background-size: cover;
}
.barrCont{
  width: 120px;
  height: 30px;
  left: 1110px;
  top: 12px;
  position: absolute;
  background-color: yellow;
  border-radius: 5px;
}
.call{
  position: absolute;
  width: 194px;
  height: 44px;
  left: -35px;
  top: 2px;
  font-weight: 400;
  font-size: 18px;
  color: rgb(5, 5, 154);
}
  .barra_secundaria{
    background: rgb(255, 255, 255);
    width: 100%;
    height: 55px;
  }
  .logo{
    position: absolute;
  width: 45px;
  height: 45px;
  left: 40px;
  top: 60px;
  background-image: url(../app/images/automovil-con-llave.png);
  background-size: cover;
  }
  .Mechanic{
    position: absolute;
    width: 194px;
    height: 44px;
    margin-left: 105px;
    margin-top: 0px;
    font-weight: 400;
    font-size: 35px;
    font-weight: bold;
  }
  .inicia_sesion{
    position: absolute;
    width: 194px;
    height: 44px;
    color: rgb(3, 3, 111);
    margin-left: 989px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
  }
  .registrate{
    position: absolute; 
    width: 94px;
    height: 44px;
    color: rgb(3, 3, 111);
    margin-left: 1150px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
  }
  .linea{
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    margin-left: 1125px;
    margin-top: 12px;
  }
  .barra_secundaria ul{
    display: flex;
  }
  .barra_secundaria ul li a p {
    position: relative;
    justify-items: center;
    width: 150px;
    height: 30px;
    margin-top: 5px;
    margin-left: -5px;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.2s;
    text-align: center; /* Alinea el texto al centro */
    text-decoration: none; /* Quita la línea por defecto */
}

.barra_secundaria ul li a p:hover {
    text-decoration: underline; /* Muestra la línea debajo del texto al hacer hover */
    color: rgb(32, 175, 222) ;
}
  .tercer_barra{
    position: relative;
    background: rgb(0, 0, 92);
    width: 100%;
    height: 48px;
  }
  .foto{
    position: relative;
    width: 121%;
    height: 500px;
    margin-left: 524px;
    top: 0px;
    background-image: url(../app/images/dos-mecanicos-barbudos-reparan-motor-camion-que-eleva-sobre-elevador-hidraulico-garaje-estacion-servicio.jpg);
    background-size: cover;
  }
.barratxt{
  background: rgb(59, 59, 64);
  width: 50%;
  height: 500px;
  margin-left: 0px;
  margin-top: 0px;
}
.barrafoto{
  position: absolute;
  background: rgba(0, 0, 92, 0.351);
  width: 100%;
  height: 180px;
  margin-top: 200px;
  margin-left: 0;
}
.text1{
  position: absolute;
width: 194px;
height: 44px;
left: 125px;
top: 5px;
font-weight: 400;
font-size: 60px;
font-weight: bold;
color: #ffffffd7;
}
.text2{
  position: absolute;
width: 194px;
height: 44px;
left: 244px;
top: 75px;
font-weight: 400;
font-size: 60px;
font-weight: bold;
color: #ffffffd5;
}
.foto2{
  position: absolute;
  width: 524px;
  height: 270px;
  left: 0px;
  top: 158px;
  background-image: url(../app/images/pexels-mike-bird-212100.jpg);
  background-size: cover;
}
.foto3{
  position: absolute;
  width: 524px;
  height: 230px;
  left: 0px;
  top: 428px;
  background-image: url(../app/images/pexels-cottonbro-studio-4489704.jpg);
  background-size: cover;
}
.nav-bar ul { 
  display: flex ;
}
.nav-bar ul li a {
  position: relative;
  top: 12px;
  margin-left: 140px;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 20px;
  border-radius: 10px;
  transition: 0.2s;
}
.nav-bar ul li a:hover {
  color: #16006c;
  background-color: #beccea;
}