*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: arial, helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}
body{
    min-height: 100vh;
    background: url(../app/images/auto.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    
}
header{
    position: fixed;
    top: 0px; left: 0; right: 0;
    background: rgba(8, 1, 43, 0.86);
    box-shadow: 0 5px 10px rgba(0,0,0,1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .Logo{
    font-weight: bolder;
    font-size: 25px;
    color: rgb(243, 235, 235);
}
header .navbar ul{
    list-style: none;
}
header .navbar ul li{
    position: relative;
    float: left;
}
header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: rgb(234, 236, 242);
    display: block;
}
header .navbar ul li a:hover{
    background: rgba(53, 53, 95, 0.757);
    color: #fff;
}
header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: rgba(24, 4, 106, 0.842);
    display: none;
}
header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(201, 197, 224, 0.868);
}
header .navbar ul li ul li ul{
    left: 200px;
    top: 0;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
}
header label{
    font-size: 20px;
    color:#ffffff;
    cursor: pointer;
    display: none;
}
.forro{
    min-height: 100vh;
    background:#1817174b ;
    position: relative;
    margin-left: 0;
    margin-top: -40px;
}
.title h1{font-size: 50px;
    font-family: Arial, sans-serif;
  }
 .title h2 {font-size: 40px;
      font-family: Arial, sans-serif;
  }
.title{
    color: #f8f8faee;
    border: none;
    position: relative;
    margin-left: 50px;
    top: 300px;
}
.subtitle{
    background:#11162bbd ;
    position: relative;
    margin-left: 0;
    margin-top: -40px;
}
.subtitle h1{
  text-align: center;
  font-size: 30px;
}
.subtitle p{
    text-align: center;
    font-size: 20px;
}
.imagenes{
display: flex;
justify-content: center;
position: relative;
top: 50px;
margin-left: 0;
}
.img2{
    width: 25%;
   background: url(../app/images/img2.jpg) no-repeat;
    background-position: center;
    margin: 20px;
}
.img4{
    width: 25%;
    background-size: cover;
    background: url(../app/images/img4.jpg) no-repeat;
     background-position: center;
     margin: 20px;
}
.h2-2 {
    position: relative;
    height: 100px;
    text-align: center;
    font-size: 40px;
}
.p2-2{
    margin-left: 2%;
    width: 98%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: relative;
    height: 100px;
    text-align: left;
}
.h2-3{
    position: relative;
    height: 100px;
    text-align: center;
    font-size: 40px;
}
h3{
    position: relative;
    height: 100px;
    text-align: center;
    font-size: 40px;
}
.p2-3{
    margin-left: 2%;
    width: 98%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: relative;
    height: 100px;
    text-align: left; 
}
.p3{
    margin-left: 2%;
    width: 98%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: relative;
    height: 100px;
    text-align: left;
}
.pie_pagina{
    min-height: 100%;
    background:#0a0a0af6;
    color: #eee;
    position: relative;
    margin-left: 0;
    margin-top: -40px;
}