<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <title>Document</title>
</head>
<body>
    <div class="forro">
  <header>
    <a href="Mechanic" class="Logo">Mechanic</a>
    <input type="checkbox"id="menu-bar">
     <label for="menu-bar">Menu</label>
    <nav class="navbar">
       <ul>
           <li><a href="#">Inicio</a></li>
           <li><a href="#">Blog</a>
             <ul>
<li><a href="https://my-proyect-2.vercel.app/">Piensa</a></li>
 <li><a href="http://127.0.0.1:5501/menu_piensa/Blog/plataforma.html">Plataforma</a></li>
             </ul>
           </li>
           <li><a href="#">Usuarios</a>
             <ul>
<li><a href="#">Profesionales</a></li>
<li><a href="#">Estudiantes</a></li>
<li><a href="#">En General</a></li>
             </ul>
           </li>
           <li><a href="#">Vehículos</a>
             <ul>
<li><a href="#">Marcas</a></li>
<li><a href="#">Modelos</a></li>
             </ul>
           </li>
       </ul>
    </nav>
  </header> 
  <div class="title">
    <h1>Conoces sobre la mecánica automotríz?</h1>
    <h2>te interesará!!</h2>
  </div>
</div>
</body>
<main>
<div class="subtitle">
    <section id="home">
      <div class="title_img"><h1>Esperamos encuentres lo que buscas</h1>
        <br><br>
        <p>Trataremos de poder informarte y ayudarte en lo que podamos</p>
            </div>
            <div class="imagenes"><img class="img2" width="200px" height="200px">
                <img class="img4" width="200px" height="200px">
          </div> 
    </section>
</div>
<br><br><br>
    <section id="about">
      <h2 class="h2-2">¿Para que fue creada esta página web?</h2>
      <p class="p2-2">Esta plataforma se esta creando en base a la necesidad de las personas de conocer mas a fondo sobre sus 
        vehículos, demostrando de tal manera que no necesitan conocer a fondo de la profesión de la mecánica
        automotriz, esperando poder seguir acoplando mas información conjuntamente con la ayuda de las personas.
      </p>
      <h3 class="h3">¿A quien va dirigido esta página web?</h3>
      <p class="p3"> Esta página web se a pensado principalmente para ayudar a buscar soluciones a la personas en 
        general que no conocen nada sobre este tema, siento esta plataforma una guía de la cual puedan confiar las personas 
        para ayudarles a mantener de mejor manera el estado funcional de su vehículo.
        Esta página web tambien esta pensada para estudiantes y profesionales que les ayude a implementar a sus 
        conocimientos mas información que podrían necesitar a lo largo de su carrera o vida profesional.
      </p>
      <h2 class="h2-3">¿Que se encontrará en esta pagina web, que servicios puede brindar?</h2>
      <br>
      <p class="p2-3">Como se a comentado anteriormente esta página web a sido creada en base a las necesidades 
        de las personas de poder conocer de que esta conformado el automotor que manejan y que cuidados se les debe 
        dar para que este funcione correctamente y evitar asi futuros problemas o accidentes, dando asi a conocer que 
        se puede hacer cuando por culpa de daños del vehiculo el dueño o quien este a cargo se quede varado.
      </p>
    </section>
</main>
<br>
<div class="pie_pagina">
    <section id="contact">
      <h2>Contacto - 0979680310</h2>
      <p>Puedes contactar conmigo en mi correo electrónico: cfrivas99@sudamericano.edu.ec</p>
    </section>
  <footer>
    <p>&copy; 2023 Plataforma web / Mecánica automotríz</p>
  </footer>
</div>
</html>